/* Geral */

body {
  background-color: #f8f9fa;
}

main {
  margin-top: 50px;
}

header {
  top: 0;
}

.msg {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

/* Cards */

#cards-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 10px 5px;
  max-height: 250px;
  overflow-y: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.btn-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card .btn {
  border-radius: 50%;
  margin: 0 5px;
}

.card .btn .icons-buttons{
  color: #FFF;
  font-size: 15px;
}

/* Modal */
.modal-footer .btn {
  border-radius: 50%;
  font-size: 15px;
}

/* Footer */

footer{
  display:block;
  position:fixed;
  width:100%;
  bottom:0vh;
  left:0;
  background-color:#353e48;
  color: #FFF;
  text-align:center;
  padding: 15px 0;
}

footer p{
  margin: 0;
}